<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="617992fd-c849-435f-a2e8-9043355e34cc" name="Project 1 Test Suite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="617992fd-c849-435f-a2e8-9043355e34ccfileName">Project-1-Test-Suite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
